.dropdown {
  position: relative;
  display: inline-block;
  width: 250px;
  font-family: 'Arial', sans-serif;

  &.unfilled .dropdown-input {
    border: 1px solid #ccc;
  }

  &.filled .dropdown-input {
    border: 1px solid #000;
  }

  &.disabled .dropdown-input {
    border: 1px solid #ccc;
    background: #f9f9f9;
  }

  &.error .dropdown-input {
    border: 1px solid red;
  }

  .dropdown-label {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-bottom: 8px;
    color: #333;

    .label-icon {
      margin-right: 5px;
    }

    .required-symbol {
      color: red;
      margin-left: 2px;
    }
  }

  .dropdown-input {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: border-color 0.3s;
    position: relative;

    &:hover {
      border-color: #888;
    }

    .selected-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      width: calc(100% - 40px);
      overflow: hidden;
      padding-right: 10px;

      .selected-item {
        display: flex;
        align-items: center;
        background-color: #007bff; 
        color: white;
        border-radius: 8px;
        padding: 5px 10px;
        font-size: smaller;

        .deselect-icon {
          cursor: pointer;
          margin-left: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(255, 255, 255, 0.1);
          border-radius: 50%;
          padding: 2px;
        }
      }

      .placeholder {
        color: #888;
      }
    }

    .left-icon,
    .caret-icon {
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      svg {
        transition: transform 0.3s;
      }

      &:hover svg {
        transform: rotate(180deg); /* Rotate the arrow on hover */
      }
    }

    .clear-button {
      background: none;
      border: none;
      color: #888;
      cursor: pointer;
      margin-left: auto;
    }
  }

  .dropdown-list {
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 10;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    padding: 0;
    list-style-type: none;

    &.bottom {
      top: calc(100% + 5px);
    }

    &.top {
      bottom: calc(100% + 5px);
    }

    &.right {
      left: calc(100% + 5px);
      width: auto;
    }

    &.left {
      right: calc(100% + 5px);
      width: auto;
    }

    li {
      padding: 10px;
      cursor: pointer;
      text-align: left;
      transition: background-color 0.3s, color 0.3s;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &.active {
        background: #e0ffe0;
        color: #000;
      }

      &:hover {
        background: #ddd;
      }

      input {
        margin-right: 10px;
      }
      input[type="checkbox"],
      input[type="radio"] {
        margin-right: 10px;
        accent-color: #31d54f; 
      }
      
      input[type="checkbox"]:checked {
        background-color: #31d54f; 
      }

      input[type="radio"]:checked {
        background-color: #31d54f; 
      }
    }
  }

  .helper-text {
    font-size: 12px;
    color: #888;
    margin-top: 7px;
  }
}
